@import "tailwindcss";

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.upload-progress {
  @apply bg-[#D4F0FF] border-[#0082C8];
}
.upload-success {
  @apply bg-[#EAFFBF] border-[#8ACF00];
}

.fade-up {
  opacity: 1;
	animation-name: fadeUp;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 200ms;
}

button.progress {
  position: relative;
  background-color: #FA4EA9;
  overflow: hidden;
  cursor: wait;
}
button.progress::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  background: repeating-linear-gradient(60deg, 
              transparent, 
              transparent 0.75rem, 
              #E93594 0.75rem, 
              #E93594 1.5rem);
  animation: load 1s infinite linear;
}
button.progress span {
  position: relative;
}
@keyframes fadeUp {
  0% {
    transform: translateY(12px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes load {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1.75rem);
  }
}